# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env

# macOS
.DS_Store

# Logs
logs
*.log
debug.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.tmp
*.bak